*.pyc
.idea/
logs/
db/
conda/
db*
scripts/*.json
conda*
input.json
*.swp
beagle-server.log
runner/tests/operator/copy_operator/tmp*
runner/tests/operator/demo_operator/tmp*
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
.DS_Store
Miniconda3*
*.db
static/
