*.pyc
.idea/
logs/
db/
conda/
db*
scripts/*.json
conda*
input.json
*.swp
beagle-server.log
src/runner/tests/operator/copy_operator/tmp*
src/runner/tests/operator/demo_operator/tmp*
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
.DS_Store
Miniconda3*
*.db
static/
.env*
src/celerybeat-schedule
src/echo_client.log
src/smile_client.log
src/staticfiles/
# Local Database Data
infra/data/
.beagle_dev_db/
