{
   "file_path": "/home/johnsoni/miniconda2/envs/ACCESS_test/lib/python2.7/site-packages/cwl_tools/msi",
   "project_name": "MSI_test",
   "tumor_bam": {{tumor_bams}},
   "normal_bam": {{normal_bams}},
   "sample_name": {{sample_names}},
   "threads": 4,
   "microsatellites": {
      "class": "File",
      "location": "juno:///juno/work/access/production/resources/msk-access/v1.0/regions_of_interest/versions/v1.0/microsatellites.list"
   },
   "model": {
      "class": "File",
      "location": "juno:///juno/work/access/production/resources/admie/versions/v1.0/ADMIE.joblib"
   },
   "tmp_dir": "/scratch",
   "version": "1.3.23-13-g07e0d12"
}
