{
"athena_coverage_report_dir": {{ athena_coverage_report_dir }},
"collapsed_bam_duplex_metrics_dir": {{ collapsed_bam_duplex_metrics_dir }},
"collapsed_bam_stats_dir": {{ collapsed_bam_stats_dir }},
"collapsed_extraction_files": {{ collapsed_extraction_files }},
"config": {
      "class": "File",
      "location": "iris:///data1/core005/assets/msk-access/v2.0/multi_qc/v1.0/config_accessv2.yaml"
}, 
"duplex_bam_sequence_qc_dir": {{ duplex_bam_sequence_qc_dir }},
"duplex_bam_stats_dir": {{ duplex_bam_stats_dir }},
"duplex_extraction_files": {{ duplex_extraction_files }},
"gatk_mean_quality_by_cycle_recal_dir": {{ gatk_mean_quality_by_cycle_recal_dir }},
"samples-json": {{ samples_json }},
"simplex_bam_stats_dir": {{ simplex_bam_stats_dir }},
"uncollapsed_bam_stats_dir": {{ uncollapsed_bam_stats_dir }},
"biometrics_extract_files_dir": {{ biometrics_extract_files_dir }}
}

