{
   "fastq1": {{fastq1_files}},
   "fastq2": {{fastq2_files}},
   "memory_overhead": null,
   "memory_per_job": null,
   "number_of_threads": null,
   "out_fastq1_name": null,
   "out_fastq2_name": null,
   "output_path": null
}
