{
  "version": "1.3.26",
  "fastq1": {{fastq1_files}},
  "fastq2": {{fastq2_files}},
  "project_name": {{request_id}},
  "adapter": {{adapters}},
  "adapter2": {{adapters2}},
  "add_rg_ID": {{cmo_sample_names}},
  "add_rg_LB": {{add_rg_LBs}},
  "add_rg_PU": {{barcode_ids}},
  "add_rg_SM": {{cmo_sample_names}},
  "sample_class": {{tumor_or_normals}},
  "patient_id": {{patient_ids}},
  "title_file": {
    "contents": {{title_file_content}},
    "basename": "title_file.txt",
    "class": "File"
  },
  "gene_list": {
    "path": "/juno/work/access/production/resources/msk-access/v1.0/regions_of_interest/versions/v1.0/juber-hg19-gene-list.bed",
    "class": "File"
  },
  "hotspots": {
    "path": "/juno/work/access/production/resources/msk-access/v1.0/regions_of_interest/versions/v1.0/hotspot-list-union-v1-v2_with_TERT.txt",
    "class": "File"
  },
  "run_tools": {
    "java_7": "/opt/common/CentOS_6/java/jdk1.7.0_75/bin/java",
    "java_8": "/opt/common/CentOS_6/java/jdk1.8.0_31/bin/java",
    "perl_5": "/opt/common/CentOS_6/perl/perl-5.20.2/bin/perl",
    "fx_path": "/opt/common/CentOS_6/picard/picard-tools-1.96/FixMateInformation.jar",
    "bwa_path": "/opt/common/CentOS_6/bwa/bwa-0.7.5a/bwa",
    "abra_path": "/opt/common/CentOS_6/abra2/abra2-2.17/abra2-2.17.jar",
    "arrg_path": "/home/johnsoni/vendor_tools/AddOrReplaceReadGroups-1.96.jar",
    "gatk_path": "/opt/common/CentOS_6/gatk/GenomeAnalysisTK-3.3-0/GenomeAnalysisTK.jar",
    "waltz_path": "/home/johnsoni/vendor_tools/Waltz-2.0.jar",
    "picard_path": "/home/johnsoni/vendor_tools/picard-2.8.1.jar",
    "bioinfo_utils": {
      "path": "/ifs/work/bergerm1/Innovation/software/BioinfoUtils-1.0.2.jar",
      "class": "File"
    },
    "marianas_path": "/home/johnsoni/vendor_tools/Marianas-1.8.0.jar",
    "trimgalore_path": "/opt/common/CentOS_6/trim_galore/Trim_Galore_v0.2.5/trim_galore"
  },
  "inputs_yaml": {
    "path": "/juno/work/access/production/runs/Project_10619_B/metadata/inputs_group_0.yaml",
    "class": "File"
  },
  "abra__params": {
    "ca": 101,
    "sc": 10030,
    "ws": 800700,
    "mad": 1000,
    "mmr": 0.1,
    "sga": 832,
    "cons": true,
    "index": true,
    "ram_min": 16,
    "threads": 12,
    "cores_min": 12
  },
  "sample_sheet": [
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1791-A_IGO_10619_B_17/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1092D_IGO_10619_B_28/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1092C_IGO_10619_B_27/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1092B_IGO_10619_B_26/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1092A_IGO_10619_B_25/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1092-A_IGO_10619_B_2/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-2090-A_IGO_10619_B_20/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1116A_IGO_10619_B_29/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1116B_IGO_10619_B_30/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1116-A_IGO_10619_B_3/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1228-A_IGO_10619_B_7/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1227-A_IGO_10619_B_6/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1781-A_IGO_10619_B_16/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1969-A_IGO_10619_B_18/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1387-A_IGO_10619_B_9/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1482-A_IGO_10619_B_11/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1565-A_IGO_10619_B_12/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1678-A_IGO_10619_B_13/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1284-A_IGO_10619_B_8/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-2051-A_IGO_10619_B_19/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1771-A_IGO_10619_B_15/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1690-A_IGO_10619_B_14/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1172-A_IGO_10619_B_4/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1090A_IGO_10619_B_21/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1090B_IGO_10619_B_22/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1090C_IGO_10619_B_23/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1090D_IGO_10619_B_24/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1090-A_IGO_10619_B_1/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1149-A_IGO_10619_B_5/SampleSheet.csv",
      "class": "File"
    },
    {
      "path": "/juno/work/access/production/runs/Project_10619_B/metadata/fastq_files/Sample_SK-PB-1391-A_IGO_10619_B_10/SampleSheet.csv",
      "class": "File"
    }
  ],
  "waltz__params": {
    "coverage_threshold": 50,
    "min_mapping_quality": 20
  },
  "FP_config_file": {
    "path": "/juno/work/access/production/resources/msk-access/v1.0/regions_of_interest/versions/v1.0/MSK-ACCESS-v1_0-TilingaAndFpSNPs.txt",
    "class": "File"
  },
  "fci_2__basq_fix": true,
  "pool_a_bed_file": {
    "path": "/juno/work/access/production/resources/msk-access/v1.0/regions_of_interest/versions/v1.0/MSK-ACCESS-v1_0-probe-A.sorted.bed",
    "class": "File"
  },
  "pool_b_bed_file": {
    "path": "/juno/work/access/production/resources/msk-access/v1.0/regions_of_interest/versions/v1.0/MSK-ACCESS-v1_0-probe-B.sorted.bed",
    "class": "File"
  },
  "reference_fasta": "/juno/work/access/production/resources/reference/versions/hg19/Homo_sapiens_assembly19.fasta",
  "trimgalore__params": {
    "gzip": true,
    "length": 25,
    "paired": true,
    "quality": 1,
    "stringency": 3,
    "suppress_warn": false
  },
  "print_reads__params": {
    "EOQ": true,
    "baq": "RECALCULATE",
    "nct": 8
  },
  "reference_fasta_fai": "/juno/work/access/production/resources/reference/versions/hg19/Homo_sapiens_assembly19.fasta.fai",
  "A_on_target_positions": {
    "path": "/juno/work/access/production/resources/msk-access/v1.0/regions_of_interest/versions/v1.0/MSK-ACCESS-v1_0-A-on-target-positions.txt",
    "class": "File"
  },
  "B_on_target_positions": {
    "path": "/juno/work/access/production/resources/msk-access/v1.0/regions_of_interest/versions/v1.0/MSK-ACCESS-v1_0-B-on-target-positions.txt",
    "class": "File"
  },
  "bqsr__knownSites_dbSNP": {
    "path": "/juno/work/access/production/resources/dbSNP/versions/b37/dbsnp_137.b37.vcf",
    "class": "File"
  },
  "bqsr__knownSites_millis": {
    "path": "/juno/work/access/production/resources/mills-and-1000g/versions/b37/Mills_and_1000G_gold_standard.indels.b37.vcf",
    "class": "File"
  },
  "mark_duplicates__params": {
    "create_index": true,
    "assume_sorted": true,
    "compression_level": 0,
    "validation_stringency": "LENIENT",
    "duplicate_scoring_strategy": "SUM_OF_BASE_QUALITIES"
  },
  "noise__good_positions_A": {
    "path": "/juno/work/access/production/resources/msk-access/v1.0/regions_of_interest/versions/v1.0/MSK-ACCESS-v1_0-A-good-positions.txt",
    "class": "File"
  },
  "base_recalibrator__params": {
    "rf": "BadCigar",
    "nct": 3
  },
  "pool_a_bed_file_exonlevel": {
    "path": "/juno/work/access/production/resources/msk-access/v1.0/regions_of_interest/versions/v1.0/MSK-ACCESS-v1_0_panelA_canonicaltargets.bed",
    "class": "File"
  },
  "marianas_collapsing__params": {
    "wobble": 2,
    "mismatches": 0,
    "min_base_quality": 20,
    "min_mapping_quality": 1,
    "min_consensus_percent": 90
  },
  "fix_mate_information__params": {
    "sort_order": "coordinate",
    "create_index": true,
    "compression_level": 0,
    "validation_stringency": "LENIENT"
  },
  "find_covered_intervals__params": {
    "rf": [
      "FailsVendorQualityCheck",
      "BadMate",
      "UnmappedRead",
      "BadCigar"
    ],
    "cov": 20,
    "minbq": 20,
    "minmq": 20
  },
  "process_loop_umi_fastq__params": {
    "umi_length": 3,
    "output_project_folder": "."
  },
  "add_or_replace_read_groups__params": {
    "add_rg_CN": "MSKCC",
    "add_rg_PL": "Illumina",
    "sort_order": "coordinate",
    "create_index": true,
    "compression_level": 0,
    "validation_stringency": "LENIENT"
  }
}
