{ 
    "merge_fastq_fastq1": {{merge_fastq_fastq1}},
    "merge_fastq_fastq2": {{merge_fastq_fastq2}},
    "fastp_disable_trim_poly_g": null,
    "fastp_disable_adapter_trimming": null,
    "fastp_disable_length_filtering": null,
    "fastp_disable_quality_filtering": null,
    "fastp_dont_eval_duplication": null,
    "fastp_max_len_read1": null,
    "fastp_max_len_read2": null,
    "fastp_read1_output_file_name": null,
    "fastp_read2_output_file_name": null,
    "fastp_unpaired1_output_file_name": null,
    "fastp_unpaired2_output_file_name": null
} 