{
    "project_name": "{{ tumor_sample_id }}",
    "tumor_sample_list": {"contents": {{tumor_sample_list_content}}, "basename": "tumor_manifest.txt", "class": "File"},
    "normal_sample_list": {
        "class": "File",
        "location": "iris:///data1/core006/access/production/resources/msk-access/v2.0/novaseq_curated_unfiltered_bams_dmp/versions/v1.0/normal_manifest_access_v2_plasma.txt",
    },
    "threads": 8,
    "tmp_dir": "/scratch",
    "targets_coverage_bed": {
        "class": "File",
        "location": "iris:///data1/core006/access/production/resources/msk-access/v2.0/regions_of_interest/versions/v1.0/ACCESSv2_targets_coverage.bed",
    },
    "targets_coverage_annotation": {
        "class": "File",
        "location": "iris:///data1/core005/assets/msk-access/v1.0/normal_manifest_access_v2_plasma.txt",
    },
    "reference_fasta": {
        "class": "File",
        "location": "iris:///data1/core005/assets/msk-access/v1.0/hg19_virus_special/hg19_virus.fasta",
    },
    "version": "1.3.40",
}
